# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment
.env

# IDE
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.code-profile

# OS
.DS_Store

## Temp files
src/visualization/temp

